# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    doft.css                                           :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: rliu <marvin@42.fr>                        +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2018/02/20 19:40:39 by rliu              #+#    #+#              #
#    Updated: 2018/02/20 19:40:41 by rliu             ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

body {
    background-color: #505050;
    margin: 18px 0 0 8px;
}

h1 {
    height: 4.3em;
    width: 44.56em;
    position: relative;
}

h1, .section, .section2, .meat{
    border-radius: 9px;
    box-shadow: 10px 10px 10px #000000;
    background-color: #909090;
}

h1 img.logo {
    height: 4em;
    margin: 10px 0 0 10px;
}

h1 img.mag {
    position: absolute;
    top: 10px;
    right: 30px;
}

.first {
    margin: 0 auto;
    width: 1420px;
}

.section{
    width: 108px;
    height: 410px;
    float: left;
    margin: 20px 0 0 30px;
    padding: 15px 0 0 32px;
}

.section img {
    width: 70px;
    margin-bottom: 6px;
}

.section2 img {
    width: 70px;
    margin-bottom: 6px;
}

.menu2 img {
    width: 70px;
    margin-bottom: 6px;
}

.meat {
    margin: 20px 0 0 30px;
    width: 1020px;
    height: 582px;
    float: left;
    position: relative;
}

.meat img {
    margin: 10px;
    width: 1000px;
    height: 562px;
}

.section img.selected {
    border: 5px solid red;
    margin: -5px 0 1px -5px;
    border-radius: 5px;
}

.section2{
    width: 105px;
    height: 410px;
    float: left;
    margin: 20px 0 0 30px;
    padding: 15px 0 0 35px;
}

.section2 .wall {
    content: '';
    background-image: url('resources/brick.jpg');
    width: 120px;
    height: 70px;
    margin:-5px 0 0 -25px;
}
